.container{
  min-height: 100vh;
  background: var(--very-light-grayish) ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container > h1{
  padding-bottom: 59px;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-weight: normal;
}

.card{
max-width: 1000px;
background: white;
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 50px;
padding: 40px;
border-radius: 20px;
}

.inputsContainer{
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.boxContainer{
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.inputContainer{
  display: flex;
  align-items: center;
  position: relative;
}

.inputContainer > img{
position: absolute;
left: 10px;
}

.inputContainer > input{
  padding:10px  0 ;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  background: var(--very-light-grayish);
text-align: end;
  width: 100%;
}


.tips{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
}


.tips > button{
  position: relative;
  transition: .5s;
  cursor: pointer;
  height: 50px;
  border-radius: 10px;
  background: var(--card-background);
  color: white;
  border: none;
  font-size: 1.3rem;
  font-weight: bold;
}


.tips > button:hover{
  color: var(--card-background);
  background: var(--app-background);
  transform: scale(1.03);
}

.customBtn{
  position: relative;
  color: var(--very-dark-cyan) !important;
  background: var(--very-light-grayish) !important;
}

.customBtn > div{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: var(--very-light-grayish); */
  width: inherit;
  height: 50px;
}

.customInput{
  height: 50px;
  font-size: 20px;
  max-width: 100px;
  width: fit-content;
  color: var(--very-dark-cyan);
  font-weight: bold;
  border: none;
  text-align: right;
}

.label{
  font-size: 1rem;
}

.peopleHeaderContainer{
  display: flex;
  justify-content: space-between;
}

.peopleContainer{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.peopleHeaderContainer > p{
  color: red;
  font-size: 1.1rem;
}

.resultsContainer{
  color: white;
  padding: 35px;
  min-width: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 30px;
  background: var(--very-dark-cyan);
}

.resultsContainer > button{
  cursor: pointer;
  min-height: 50px;
  border-radius: 10px;
  border: none;
  background: var(--app-background);
  font-size: 1rem;
  font-weight: bold;
}

.tipAmount{
  display: flex;
  justify-content: space-between;
}

.resultsContainer .tipAmount:nth-child(2n){
  height: 100%;
}

.tipAmount > p{
  font-size: 2rem;
  font-weight: bold;
  color: var(--app-background);
  max-width: 210px;
  overflow: auto;
}

.tipAmount > p::-webkit-scrollbar {
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



.tipInfo > h1{
  font-size: 1rem;
}


@media  (max-width:768px) {
  .card{
    padding: 20px;
    width: 90%;
    gap: 20px;
    display: flex;
    flex-direction: column;
  }

  .customInput{
   max-width: 100% ;
  }

  .inputsContainer{
    flex-direction: column;
  }

  .tips{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  .tips > button{
    min-width: 100%;
  }

}