.attribution{
  position: absolute;
  color: black;
  font-weight: bold;
  bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.attribution *{
  margin: auto 5px;
}

.attribution a{
  color: rgb(89, 0, 255);
  font-weight:900;
  text-decoration: none;
}


@media (max-width:768px) {
  .attribution{
    display: none;
    visibility: collapse;
  }
}